<section class="signup-form">
  <form fxLayout="column"
        [formGroup]="form">
    <mat-form-field>
      <input type="email"
             placeholder="Enter your email"
             formControlName="email"
             matInput>
      <mat-error *ngIf="email.hasError('email')">Email is invalid.</mat-error>
      <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password"
             placeholder="Enter your password"
             formControlName="password"
             matInput>
      <mat-hint align="end">{{ password.value ? password.value.length : 0 }} / 6</mat-hint>
      <mat-error *ngIf="password.hasError('required')">Password must be filled.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input [matDatepicker]="datepicker"
             [max]="maxDate"
             placeholder="Choose your birthdate"
             formControlName="birthdate"
             matInput>
      <mat-datepicker-toggle [for]="datepicker"
                             matSuffix>
      </mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-hint>Your age should be older than 18</mat-hint>
    </mat-form-field>
    <mat-checkbox color="primary"
                  formControlName="agreement">Agree to training</mat-checkbox>
    <button mat-raised-button
            type="submit"
            color="primary"
            *ngIf="!isLoading"
            [disabled]="form.invalid"
            (click)="signUp()">Sign me up!</button>
    <ng-template *ngIf="isLoading"
                 [cdkPortalOutlet]="portalSpinner"></ng-template>
  </form>
</section>