mat-sidenav-container {
  height: 100%;

  & + * {
    height: 100%;
  }

  mat-sidenav {
    width: 200px;
  }
}

.nav-item {

  span {
    display: inline-block;
    padding-left: 6px;
  }
}

main {
  padding: 0 20px;
}