<section class="training-card"
         fxLayout
         fxLayoutAlign="center">
  <mat-card fxLayout="column"
            fxLayoutAlign="center center">
    <mat-card-header>Time to start the new training</mat-card-header>
    <mat-card-content fxLayout="column"
                      fxLayoutAlign="center center">
      <mat-form-field *ngIf="!(isLoading$ | async)">
        <mat-select [formControl]="selectedTraining"
                    placeholder="Select your training">
          <mat-option *ngFor="let training of trainings$ | async"
                      [value]="training.id">
            {{ training.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template *ngIf="isLoading$ | async"
                   [cdkPortalOutlet]="portalSpinner"></ng-template>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-raised-button
              *ngIf="trainings$ | async else templateForEmptyAvaliableExs"
              color="primary"
              (click)="createNewTraining()">
        Start!
      </button>
      <ng-template #templateForEmptyAvaliableExs>
        <button mat-raised-button
                color="primary"
                (click)="fetchAvaliableExs()">
          Fetch again
        </button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</section>