<section class="current-training"
         fxLayout="column"
         fxLayoutAlign="center center"
         *ngIf="training">

  <h3 class="training-name">Your training is {{ training.name }}</h3>

  <mat-progress-spinner color="primary"
                        mode="determinate"
                        [value]="trainingProgress">
  </mat-progress-spinner>

  <p class="training-value-percent">{{ trainingProgress }} %</p>

  <button mat-raised-button
          type="submit"
          color="warn"
          (click)="stopTraining()">
    Stop!
  </button>
</section>